body {
    margin: auto 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zone {
    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    transition: all 0.3s linear;
}

.zone:hover {
    color: black;
    box-shadow: rgb(255, 120, 120) 10px 10px 10px;
}

.box:hover{
    transform: rotate(-2deg);
}


/* NAV BAR */
.main-nav {
    display: flex;
    list-style: none;
    font-size: 1em;
    margin: 0;
    background-color: rgb(114, 162, 251);
}

.stick{
    position: fixed;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 2%;
}

a {
    color: white;
    text-decoration: none;
}


/* COVER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.cover{
    width: 30%;
}


/* GRID */
.grid-wrapper {
    background-color: rgb(114, 162, 251);
    display: grid;
    padding: 4% 2%;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box>img {
    width: 100%;
    height: 100%;
}

.box {
    background-color: rgb(255, 255, 255);
    padding: 10% 20%;
    margin: 3%;
}


/* FOOTER */
footer {
    text-align: center;
    background-color: rgb(251, 114, 114);
}